---
interface BlockImage {
  src: string;
  alt: string;
  width?: number;
  height?: number;
  srcset?: string;
  sizes?: string;
}

interface Props {
  heading: string;
  body: string;
  image: BlockImage;
  imagePosition?: 'left' | 'right';
  bgClass?: string;
  linkHref?: string;
  linkText?: string;
  linkClass?: string;
}

const {
  heading,
  body,
  image,
  imagePosition = 'right',
  bgClass = '',
  linkHref,
  linkText,
  linkClass = 'inter-tight link-semibold text-highlight-green-20',
} = Astro.props;

const imageFirst = imagePosition === 'left';
---

<div class={`section product-section ${bgClass}`.trim()}>
  <div class="container-default w-container min-w-0 max-w-full">
    <div class="product-2-block-wrapper min-w-0">
      {imageFirst ? (
        <>
          <div class="product-2-block-image-wrapper min-w-0">
            <img
              src={image.src}
              loading="lazy"
              width={image.width}
              height={image.height}
              alt={image.alt}
              srcset={image.srcset}
              sizes={image.sizes}
              class="img-fluid-block"
            />
          </div>
          <div class="product-2-block-text-wrapper min-w-0">
            <h2 class="product-2-block-heading" set:html={heading} />
            <div class="product-2-block-paragraph" set:html={body} />
            {linkHref && linkText && (
              <a href={linkHref} target="_blank" class={linkClass}>
                {linkText}
              </a>
            )}
          </div>
        </>
      ) : (
        <>
          <div class="product-2-block-text-wrapper min-w-0">
            <h2 class="product-2-block-heading" set:html={heading} />
            <div class="product-2-block-paragraph" set:html={body} />
            {linkHref && linkText && (
              <a href={linkHref} target="_blank" class={linkClass}>
                {linkText}
              </a>
            )}
          </div>
          <div class="product-2-block-image-wrapper min-w-0">
            <img
              src={image.src}
              loading="lazy"
              width={image.width}
              height={image.height}
              alt={image.alt}
              srcset={image.srcset}
              sizes={image.sizes}
              class="img-fluid-block"
            />
          </div>
        </>
      )}
    </div>
  </div>
</div>
